* {
  margin: 0;
  padding: 0;
}

.main__tit {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 10px;
}

.main1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.main1 .main1__funcion {
  height: 700px;
}
.main1 .main1__funcion .img__funcion {
  height: 90%;
  width: 100%;
}

.main2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.main2 .main2__funcion {
  height: 700px;
}
.main2 .main2__funcion .img__funcion {
  height: 90%;
  width: 100%;
}

.navbar {
  background-color: wheat;
  height: 80px;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar .nav__logo {
  height: 100%;
}
.navbar .nav__logo .logo__style {
  height: 100%;
  width: 100%;
}
.navbar .nav__items {
  position: relative;
}
.navbar .nav__items .nav__style {
  padding: 15px;
  margin: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar .nav__items .nav__style:hover {
  color: blue;
}
.navbar .nav__toggle {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-color: red;
}
footer input {
  margin: 20px;
  border-bottom: black solid 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  background-color: red;
  border-radius: 5px;
}
footer textarea {
  margin: 20px;
  border: black solid 2px;
  outline: none;
  background-color: red;
}
footer .final {
  background-color: whitesmoke;
  width: 100%;
  height: 500px;
  text-align: center;
}
footer .final .img__redes {
  text-align: center;
  height: 50%;
  width: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}
footer .final .final__p {
  text-align: center;
  color: red;
}

.contenedor__carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.5s ease;
  height: 100%;
  z-index: 20;
}
.contenedor__carrusel .carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 800px;
}
.contenedor__carrusel .carrusel .atras .svg__atras {
  width: 30px;
  height: 30px;
}
.contenedor__carrusel .carrusel .adelante .svg__ad {
  width: 30px;
  height: 30px;
}
.contenedor__carrusel .carrusel .imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.contenedor__carrusel .carrusel .imagenes .img__cont {
  height: 100%;
  width: 90%;
}
.contenedor__carrusel .carrusel .imagenes .img__cont .img {
  box-shadow: 0px 4px 10x 0px rgba 0, 0, 0, 0.85;
  width: 100%;
  height: 100%;
  margin: 5px;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

@media (max-width: 768px) {
  .navbar .nav__items {
    position: absolute;
    top: 60px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    transform: translatey(-200%);
    left: 0;
    transition: all 0.5s linear;
    align-items: center;
  }
  .navbar .nav__items .nav__style {
    margin: 7px;
    padding: 7px;
  }
  .navbar .open {
    transform: translateX(0) !important;
  }
  .navbar .close span:nth-child(1) {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .navbar .close span:nth-child(2) {
    display: none;
  }
  .navbar .close span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 0px);
  }
  .navbar .close span:nth-child(4) {
    display: none;
  }
  .navbar .nav__toggle {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .navbar .nav__toggle .toggle__style {
    width: 30px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }
}

/*# sourceMappingURL=main.css.map */
