.main__tit{
    text-align: center;
    margin-bottom:35px;
    margin-top:10px;
}


.main1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .main1__funcion{
        height: 700px;
       .img__funcion{
        height: 90%;
        width: 100%;
       }
    }
}



.main2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .main2__funcion{
        height: 700px;
       .img__funcion{
        height: 90%;
        width: 100%;
       }
    }
}