@media (max-width:768px){
    .navbar{
        .nav__logo{

        }
        .nav__items{
            position: absolute;
            top:60px; 
            background-color: blue;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            transform: translatey(-200%);
            left: 0;
            transition: all 0.5s linear;
           align-items: center;
           .nav__style{
            margin: 7px;
            padding: 7px;
           }
        }
        .open{transform:translateX(0) !important}
        .close span:nth-child(1){
            transform: rotate(45deg) translate(0px, 0px);
        }
        .close span:nth-child(2){
            display: none;
        }
        .close span:nth-child(3){
            transform: rotate(-45deg) translate(-5px, -0px);
        }
        .close span:nth-child(4){
            display: none;
        }
        .nav__toggle{
            display: flex;
            flex-direction: column;
            margin-right:15px;
            margin-bottom: 10px;
            .toggle__style{
                width: 30px;
                height: 5px;
                background-color: white;
                margin-bottom: 5px;
                border-radius: 2px;
                transform-origin: 5px 0px;
                transition: all 0.2s linear;
            }

            //MIRA LO DE LOS CHILDS EN ESO TE QUEDASTES
            
            
        }
    }
}